<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности - Dos Champ</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: justify;
        }

        h1, h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #555;
        }
    </style>
</head>
<body>

<h1 style="text-align: center;">Политика конфиденциальности</h1>

<p style="text-align: center;">Последнее обновление: 08.01.2023 </p>

<p>Добро пожаловать в мобильное приложение Dos Champ ("мы", "нас" или "наше").</p>

<h2>Информация, которую мы собираем</h2>

<p>Мы не собираем и не храним никакие персональные данные пользователей.</p>

<h2>Как мы используем информацию</h2>

<p>Мы не используем никакую информацию, так как не собираем персональные данные пользователей.</p>

<h2>Обмен информацией</h2>

<p>Мы не передаем никакую информацию третьим сторонам.</p>

<h2>Безопасность</h2>

<p>Мы принимаем разумные меры для защиты информации пользователей, даже не собирая персональные данные.</p>

<h2>Изменения в политике конфиденциальности</h2>

<p>Мы можем время от времени обновлять нашу политику конфиденциальности. Рекомендуем вам регулярно проверять эту страницу на изменения.</p>

</body>
</html>
