<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zhasa</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      text-align: center;
    }

    h1 {
      color: #007BFF;
      font-size: 28px;
      margin-top: 40px;
    }

    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    a:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
<h1>Менеджер успешно создан!</h1>
<div style="display: block">
<a href="/create-user">к созданию пользователей</a>
<a href="/users/all">список пользователей</a>
</div>
</body>
</html>
